.home-container{
       display: grid;
       grid-template-columns: 3fr 1fr;
       
}
.cart-container{
       background-color: rgb(240, 204, 204);
       height: 100%;
       border: 0;
       border-radius:1.5em 0 1.5em 0;
       /* overflow: hidden;
       position:fixed; */
       right: 0;
       top: auto;
       
}
.tshirt-container{
       display: grid;
       grid-template-columns: repeat(3, 1fr);
       grid-gap: 20px;
}