.header-section{
  background-color: blanchedalmond;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.site-name{
  padding-left: 35px;
}

nav a{
  text-decoration: none;
  margin-right: 20px;
}